{% extends "layouts/base.html" %}
{% load static %}

    {% block title %}Sitio en construcción{% endblock %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/aviso.css' %}">
    {% endblock %}

    {% block js %}
    <script src="{% static '/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/navbar.js' %}" defer></script>
    {% endblock %}

{% block nav %}
    {% include "layouts/navbar.html" %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="content">
        <div class="content__title">
            <h1>We are <a id="myBtn">working</a> on it!</h1>            
        </div>
    </div>
</div>

<!-- modal-->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2> Experiencia en línea única. </h2>
    </div>
    <div class="modal-body">
      <p>Gracias por tu paciencia,</p>
      <p>¡Estamos ansiosos de que puedas disfrutar de nuestro nuevo sitio web muy pronto!</p>
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>

<script>

var modal = document.getElementById("myModal");

var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

{% endblock %}