{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Contacto | JEEIMKG{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/contact.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}">
<script type="text/javascript" src="{% static '/js/loading.js' %}"></script>
<script type="text/javascript" src="{% static '/js/navbar.js' %}" defer></script>
{% endblock %}

{% block nav %}
  {% include "layouts/navbar.html" %}
{% endblock %}

{% block content %}
<script>

  function validateForm() {
    const emailInput = document.getElementById("email-input");
    const emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
  
    emailInput.addEventListener("input", function(event) {
      if (!emailRegex.test(event.target.value)) {
        emailInput.setCustomValidity("Por favor, ingresa un correo electrónico válido");
      } else {
        emailInput.setCustomValidity("");
      }
    });
  }
</script>
<div class="hamburger-menu toggle-overlay">
  <div class="bar"></div>
</div>
<header class="header-content">
  <h1 class="main-title">CONSTRUYAMOS <br> ALGO INCREIBLE</h1>
  <div class="contact-header" data-src="https://jeeimkg-static.s3.us-west-1.amazonaws.com/Fondos/main.jpg">
  </div>
</header>

<main>
  <h2 class="title-form">Aplica ahora y <br> en un momento <br> te contactamos.</h2>
  <form onsubmit="return validateForm()" method="post"> 
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.non_field_errors }}
    <input type="submit" value="ENVIAR"/>
  </form>
</main>
{% endblock %}

{% block footer %}
  {% include "layouts/footer.html" %}
{% endblock %}