{% extends "layouts/base.html" %}
{% load static %}

{% block title %}JEEIMKG | Design, Creation and Development Agency{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}"> 
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static '/js/navbar.js' %}" defer></script>
  <script type="text/javascript" src="{% static '/js/main.js' %}" defer></script>
  <script type="text/javascript" src="{% static '/js/loading.js' %}"></script>
  <script type="text/javascript" src="{% static '/js/slide.js' %}"></script>
{% endblock %}

{% block nav %}
  {% include "layouts/navigation.html" %}
{% endblock %}

{% block content %}
<script>
  function lazyLoadImages() {
  var lazyloadImages = document.querySelectorAll('.work-img');

  if ('IntersectionObserver' in window) {
    var imageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          var image = entry.target;
          var dataSrc = image.getAttribute('data-src');
          
          if (dataSrc) {
            setTimeout(function() {
              image.src = dataSrc;
              image.removeAttribute('data-src');
              image.classList.remove('low-res');
              observer.unobserve(image);
            }, 600);
          } else {
            observer.unobserve(image);
          }
        }
      });
    });

    lazyloadImages.forEach(function(image) {
      image.classList.add('low-res');
      imageObserver.observe(image);
    });
  }
}

document.addEventListener('DOMContentLoaded', function() {
  lazyLoadImages();
});

</script>
<header id="header">
  <object data="navigation.html" type="text/html"></object>
  <section class="home-header" id="home">
    <div>
      <div class="content__container">
        <p>Diseñamos y<br>Construimos</p>
        <b class="keyword" id="keyword">
          <span>
            estrategias<br />
            productos<br />
            experiencias
          </span>
        </b>
      </div>
    </div>
  </section>
</header>
<!-- Fin - Header -->

<main>
  <section id="about" class="about-content" >
    <div class="about-image" data-src="https://jeeimkg-static.s3.us-west-1.amazonaws.com/Fondos/secondary.jpg">
    </div>
    <div class="about-main">
      <h5 class="about-title">¿qué hacemos?</h5>
      <ul class="about-list" >
        <li>
          <div class="list-item">
            <div class="li-number">1:</div>
            <h3 class="list-title">
              EXPERIENCIA DE USUARIO
            </h3>
          </div>
          <p class="list-txt">Nos enfocamos en entender a la audiencia y diseñar 
            estrategias que te permitan interactuar de manera fluida 
            y satisfactoria con tu web, redes sociales y otros canales 
            digitales de nuestros clientes.</p>
        </li>
        <li>
          <div class="list-item">
            <div class="li-number">2:</div>
            <h3 class="list-title">
              DISEÑO Y DESARROLLO
            </h3>
          </div>
          <p class="list-txt">Nos enfocamos en entender las necesidades y objetivos de 
            nuestros clientes para crear soluciones atractivas y funcionales 
            en diseño y desarrollo. Utilizamos tecnologías de vanguardia 
            y trabajamos en conjunto con nuestros clientes para crear 
            una experiencia de usuario óptima y coherente con su identidad 
            de marca, generando una imagen positiva y fortaleciendo su 
            presencia en línea.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section id="work" class="work-content">
    <div class="work-container">
      <div class="work-left">
        <h1 class="work-title">trabajo <br> destacado</h1>
        <a href="https://www.behance.net/JEEIMKG_DESIGN" target="_blank" rel="noopener noreferrer">ver todos</a>
      </div>
      <div class="work-slide">
        <img class="work-img" src="https://jeeimkg-static.s3.us-west-1.amazonaws.com/Work/joee1.jpg" data-src="https://jeeimkg-static.s3.us-west-1.amazonaws.com/Work/joee.jpg" loading="lazy" alt="">
        <img class="work-img" src="https://jeeimkg-static.s3.us-west-1.amazonaws.com/Work/nacajucad1.jpg" data-src="https://jeeimkg-static.s3.us-west-1.amazonaws.com/Work/nacajucad.jpg" loading="lazy" alt="" style="display: none;">
        <img class="work-img" src="https://jeeimkg-static.s3.us-west-1.amazonaws.com/Work/trigmar1.jpg" data-src="https://jeeimkg-static.s3.us-west-1.amazonaws.com/Work/trigmar.jpg" loading="lazy" alt="" style="display: none;">
        <!--
          <span class="prev">&#10094;</span>
          <span class="next">&#10095;</span>
        -->
      </div>
    </div>
  </section>

  <section id="products" class="products-content">
    <div class="content-product">
      <div class="row">
        <p class="title-products">Uneté a</p>
        <div class="col-xs-12">
          <a href="#" class="goBtn" target="_BLANK">Horgan <strong>AI</strong><span class="btnInfo highlight">▸ Automate Artificial Inteligence</span></a>
          <a href="#" class="goBtn" target="_BLANK">Horgan <strong>Agenda</strong> <span class="btnInfo highlight">▸ Agenda for you business</span></a>
          <a href="#" class="goBtn" target="_BLANK">Horgan <strong>Spaces</strong> <span class="btnInfo highlight">▸ metasearch engine</span></a>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact-content">
    <div>
      <div class="info-join">
        <h2>hablemos<a class="btn-join" href="{% url 'contacto' %}">contacto</a></h2>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block footer %}
  {% include "layouts/footer.html" %}
{% endblock %}
