{% extends "layouts/base.html" %}
{% load static %}

{% block title %}JEEIMKG | Design, Creation and Development Agency{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}"> 
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static '/js/navbar.js' %}" defer></script>
  <script type="text/javascript" src="{% static '/js/main.js' %}" defer></script>
  <script type="text/javascript" src="{% static '/js/loading.js' %}"></script>
{% endblock %}

{% block nav %}
  {% include "layouts/navigation.html" %}
{% endblock %}

{% block content %}
<header id="header">
  <object data="navigation.html" type="text/html"></object>
  <section class="home-header" id="home">
    <div>
      <div class="content__container">
        <p>Diseñamos y<br>Construimos</p>
        <b class="keyword" id="keyword">
          <span>
            estrategias<br />
            productos<br />
            experiencias
          </span>
        </b>
      </div>
    </div>
  </section>
</header>
<!-- Fin - Header -->

<main>
  <section id="about" class="about-content" >
    <div class="about-image" data-src="https://jeeimkg-static.s3.us-west-1.amazonaws.com/Fondos/secondary.jpg">
    </div>
    <div class="about-main">
      <h5 class="about-title">¿qué hacemos?</h5>
      <ul class="about-list">
        <li>
          <div class="list-item">
            <div class="li-number">1:</div>
            <h3 class="list-title">
              EXPERIENCIA DE USUARIO
            </h3>
          </div>
          <p></p>
        </li>
        <li>
          <div class="list-item">
            <div class="li-number">2:</div>
            <h3 class="list-title">
              DISEÑO Y DESARROLLO
            </h3>
          </div>
          <p>

          </p>
        </li>
      </ul>
    </div>
  </section>

  <section id="work" class="work-content">
  </section>

  <section id="products" class="products-content">
    <div class="content-product">
    </div>
  </section>

  <section id="contact" class="contact-content">
    <div>
      <div class="info-join">
        <h2>hablemos<a class="btn-join" href="{% url 'contacto' %}">contacto</a></h2>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block footer %}
  {% include "layouts/footer.html" %}
{% endblock %}
