/* Fuentes
********************************************************************* */
/*Tipografía de la marca*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700&display=swap");
/*Tipografía secundaria*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500&display=swap");
/* Base Styles
********************************************************************* */
html {
    height: 100%;
  }
body {
  margin:0;
  padding:0;
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #dadada;
}
h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
/* Container Styles
********************************************************************* */
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.877);
    box-sizing: border-box;
    border-radius: 10px;
  }
  .login-box .user-box {
    position: relative;
  }
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f34043;
    font-size: 12px;
  }
  [type="submit"] {
    font-family: "Alegreya Sans SC", sans-serif;
    position: relative;
    display: block;
    float: right;
    width: 40%;
    background: #191919;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 17px;
    padding: 9px 20px;
    transition: all 1s;
    font-weight: 700;
  }
  [type="submit"]:hover {
    background: #cc1517;
  }


a.btn-two-f{
  display: inline-block;
  text-decoration: none;
  margin-top: 7px;
  color: #fff;
  padding: 5px 10px;
  font-weight: 700;
}

a.btn-two-f:hover{
  color: #cc1517;
  transition: all 0.5s ease-in-out;
}