{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/navbar.css' %}">
{% endblock %}

{% block nav %}
<script language="Javascript">
    let ubicacionPrincipal = window.pageYOffset;
    window.onscroll = function () {
        let Desplazamiento_Actual = window.pageYOffset;
        if (ubicacionPrincipal >= Desplazamiento_Actual) {
        document.getElementById('navbar').style.top = '0';
        }
        else {
        document.getElementById('navbar').style.top = '-110px';
        window.addEventListener("scroll", function () {
            var nav = document.querySelector("nav");
            nav.classList.toggle("down", window.scrollY > 100);
        })
        }
        ubicacionPrincipal = Desplazamiento_Actual;
    }
    </script>
    <nav class="navbar" id="navbar">
        <div class="logo">
        <a href="{% url 'index' %}">
            <h1>jeeimkg</h1>
        </a>
        </div>
        <ul class=" navbar-list" id="navigation">
            <li><a class="navbar-link" href="{% url 'acerca' %}">acerca</a></li>
            <li><a class="navbar-link" href="{% url 'index' %}">trabajo</a></li>
            <li><a class="navbar-link" href="{% url 'index' %}">opiniones</a></li>
            <li><a class="navbar-link" href="{% url 'productos' %}">productos</a></li>
            <li><a class="navbar-link" href="{% url 'contacto' %}">contacto</a></li>
        </ul>
    </nav>
{% endblock %}