{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/sidebar.css' %}">
{% endblock %}


{% block sidebar %}
<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li class="has-subnav" id="info-li">
            <a href="#">
                <i class="fi fi-rr-exclamation"></i>
                <span class="nav-text">
                    More Information
                </span>
            </a>
        </li>
        <li>
            <a href="{% url 'adminsystem' %}">
                <i class="fi fi-rr-home fi-2x"></i>
                <span class="nav-text">
                    Home
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="{% url 'profile' %}">
                <i class="fi fi-rr-user"></i>
                <span class="nav-text">
                    Profile
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="{% url 'contactClient' %}">
                <i class="fi fi-rr-comment-alt"></i>
                <span class="nav-text">
                    Client contact
                </span>
            </a>
            
        </li>
        <li>
            <a href="{% url 'clients' %}">
                <i class="fi fi-rr-users-alt"></i>
                <span class="nav-text">
                    Fixed customers
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="{% url 'signup' %}">
                <i class="fi fi-rr-add"></i>
                <span class="nav-text">
                    Add new user
                </span>
            </a>
        </li>
        <li>
            <a href="{% url 'configuration' %}">
                <i class="fi fi-rr-settings"></i>
                <span class="nav-text">
                    Configuration
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="{% url 'logout' %}">
                <i class="fi fi-rr-exit"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>
{% endblock %}