/* Fuentes
********************************************************************* */

/*Tipografía de la marca*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700&display=swap");
/*Tipografía secundaria*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500&display=swap");
/*Para uso unico*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Base Styles
********************************************************************* */

body,
html {
  height: 100%;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans SC", sans-serif;
  background-color: #efefef;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

::selection {
  background: #294899;
  color: #fff;
}

/* Container Styles
********************************************************************* */

/*Home - Header classes*/

section.home-header {
  margin: 0%;
  padding: 0%;
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  background-color: #090909;
  line-height: 90px;
}

section.home-header p {
  text-transform: uppercase;
  line-height: 110px;
  letter-spacing: 2.6px;
}

.content__container {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 90px;
  text-decoration: none;
  overflow: hidden;
  float: left;
  color: rgb(255, 255, 255);
  margin: 200px 0px 0px 30px; /*Arriba, derecha, abajo, izquierda*/
  padding: 0 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;    
  user-select: none;
}

.content__container p a {
  letter-spacing: normal;
}

.keyword {
  font-size: 90px;
  line-height: 90px;
  font-weight: 400;
  text-transform: uppercase;
}

b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 90px;
}

b span {
  display: inline-block;
  color: #5772b7;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  animation: move 20s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

@keyframes move {
  0% {
    top: 0px;
  }

  20% {
    top: -90px;
  }

  40% {
    top: -180px;
  }

  80% {
    top: -90px;
  }

  100% {
    top: 0px;
  }

}

/*About content classes*/

section.about-content{
  min-height: 100%;
  max-width: 100%;
  /*Arriba, derecha, abajo, izquierda*/
  /*padding: 0px 0px 50px 100px;*/
  top: 0;
  left: 0;
}

.about-image{
  background-image: url("https://jeeimkg-static.s3.us-west-1.amazonaws.com/Fondos/secondary1.jpg");
  background-size: cover;
  min-height: 120vmin;
  max-width: 100%;
  top: 0;
  left: 0;
  padding: 0%;
}

.about-main{
  min-height: 120vmin;
  max-width: 100%;
  padding: 70px 0px 0px 100px; /*Arriba, derecha, abajo, izquierda*/
}

.about-title{
  font-weight: 400;
  font-size: 2.3rem;
}

.about-list{
  display: block;
  list-style: none;
}

.li-number{
  font-weight: 400;
  font-size: 2rem;
  padding-right: 8%;
}

.list-title{
  font-weight: 500;
  font-size: 2.2rem;
}

p.list-txt{
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  line-height: 31px;
  font-size: 1.2rem;
  padding: 20px 100px 0px 470px; /*Arriba, derecha, abajo, izquierda*/
  text-align: justify;
}

.list-item {
  display: flex;
  align-items: center; /* opcional para alinear verticalmente */
  max-width: 80%;
  margin-left: 30%;
}

.about-list li {
  text-align: right;
  margin-bottom: 20px;
}
/*work classes*/

section.work-content {
  height: 100%;
  width: 100%;
  margin-bottom: 10%;
}

.work-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-left{
  margin-left: 90px;
}
.work-left a{
  text-decoration: none;
  font-size: 35px;
  color: #000;
  margin-top: 20px;
}

.work-title{
  font-weight: 500;
  font-size: 120px;
  line-height: 120px;
}

img.work-img{
  top: 0;
  left: 0;
  height: 300px;
  float: right;
  margin-right: 100px;
}

.work-slide{
  position: relative;
  overflow: hidden;
}

.prev, .next {
  cursor: pointer;
}


/*products classes*/

section.products-content {
  height: 100%;
  width: 100%;
}

.content-product{
  background-image: url("https://jeeimkg-static.s3.us-west-1.amazonaws.com/images/svg/horgan.svg");
  background-size: cover;
  background-position: center;
  height: 130vh;
  width: 100%;
}

.products-content {
  height: 1000px;
  width: 100%;
}

.title-products{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.txt-products{
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 50px;
  padding: 100px 60px 0px 60px; /*Arriba, derecha, abajo, izquierda*/
  color: #a6a6a6;
  margin-top: 200px;
}

.row{
  font-family: 'Ubuntu', sans-serif;
  padding: 15vmax 0px 0px 200px; /*Arriba, derecha, abajo, izquierda*/
}

.highlight{
  color: #325dc8;
}

.goBtn{
  display: block;
  width:100%;
  height:100%;
  color: #090909;
  font-weight: bold;
  font-size: 11vmin;
  line-height: 170%;
  text-align: left;
  padding: .5vmax;
  transition: all .2s ease-in-out;
}

.goBtn strong{
  font-family: 'Open Sans', sans-serif;
}

.btnInfo{
  font-size: 3vmin;
  text-transform: lowercase;
  letter-spacing: 0;
  font-weight: normal;
  padding-left: -10vw;
  opacity: 0;
  transition: all .2s ease .15s;
}

.goBtn:hover{
  text-decoration: none;
  padding-left: 2.5vmax;
  color: #606060;
}

.goBtn:hover .btnInfo{
  opacity: 1;
  padding-left: 1vmin;
}

@media screen and (max-width: 768px) {
  .row{
    margin-left: 0;
  }
}

/*contact classes*/

.contact-content {
  font-family: "Be Vietnam Pro", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #090909;
}

.info-join {
  padding: 60px 0px 60px 60px;
  font-weight: 500;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 200px;
  color: #161616;
  text-align: center;
}

.btn-join {
  padding-left: 60px;
  text-decoration: none;
  font-weight: bold;
  color: #bababa;
  transition: all 1s;
}

.btn-join:hover {
  color: #cc1517;
}

/* Responsive Styles
********************************************************************* */