{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Nuestro Sistema | JEEIMKG{% endblock %}
    
{% block css %}
    <link rel="stylesheet" href="{% static '/css/employs.css' %}">
    <link rel="stylesheet" href="{% static '/css/contact.css' %}">
{% endblock %}

    {% block nav %}
        {% include "layouts/navbar.html" %}
    {% endblock %}

{% block content %}
<h1>Bienvenido a nuestra página de inicio</h1>
<p>Aquí puedes encontrar información sobre nuestra empresa y servicios.</p>
<a href="{% url 'login' %}">Ingresar al sistema</a>
{% endblock %}
