{% extends "layouts/baseForm.html" %}
{% load static %}
    
    {% block title %}Inicia con nosotros | JEEIMKG{% endblock %}
    
    {% block css %}
    <link rel="stylesheet" href="{% static '/css/inicia.css' %}">
    <link rel="stylesheet" href="{% static '/css/landingFooter.css' %}">
    <script type="text/javascript" src="{% static '/js/validations.js' %}"></script>
    {% endblock %}


{% block content %}
<main>
    <div class="background"></div>
    <form onsubmit="return validateForm()" method="post" class="form-content">
        {% csrf_token %}
        <h1>Bienvenido a casa</h1>
        <p>Termina tu registro final, requerimos de la siguiente información para calcular el precio de tu servicio </p>
        {{ form.nombre }}
        {{ form.email }}
        {{ form.telefono }}
        {{ form.sector }}
        {{ form.servicio }}
        <div class="check">
            <label class="label-check">Selecciona las redes sociales que manejas</label>
            <div class="checkbox-container">
                <div class="checkbox-column">
                    {% for checkbox in form.redes_sociales1 %}
                        <div class="check-content">
                            {{ checkbox.tag }}
                            {{ checkbox.choice_label }}
                        </div>
                    {% endfor %}
                </div>
                <div class="checkbox-column">
                    {% for checkbox in form.redes_sociales2 %}
                        <div class="check-content">
                            {{ checkbox.tag }}
                            {{ checkbox.choice_label }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {{ form.ingresos }}
        {{ form.direccion }}
        {{ form.necesidades }}
        <input type="submit" value="siguiente"/>
    </form>               
</main>
{% endblock %}

{% block footer %}
    {% include "layouts/landingFooter.html" %}
{% endblock %}