{% extends "sysbase.html" %}
{% load static %}

    {% block title %}Clientes | Administración{% endblock %}
    
    {% block css %}
        <link rel="stylesheet" href="{% static '/css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static '/css/base.css' %}">
        <link rel="stylesheet" href="{% static '/css/client.css' %}">
    {% endblock %}

    {%block metalinks %}
    {% endblock %}

{% block titleAdmin %}Listado de Clientes{% endblock %}

{% block content %}
<table id="expendable-data-table" class="table display nowrap" style="width:100%">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Servicio</th>
      <th>Tamaño</th>
      <th>Nicho</th>
      <th>Tipo Negocio</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in client_data %}
    <tr>
      <td>{{ customer.name }}</td>
      <td>{{ customer.phoneNumber }}</td>
      <td>{{ customer.service }}</td>
      <td>{{ customer.businessSize }}</td>
      <td>{{ customer.niche }}</td>
      <td>{{ customer.businessType }}</td>
      <td>{{ customer.email }}</td>
    </tr> 
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'clients' start|add:12 end|add:12 %}" class="button">Cargar más</a>
<a href="{% url 'clients' 0 12 %}" class="button">Regresar</a>
{% endblock %}
