{% extends "sysbase.html" %}
{% load static %}

    {% block title %}Clientes | Administración{% endblock %}
    
    {% block css %}
        <link rel="stylesheet" href="{% static '/css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static '/css/base.css' %}">
        <link rel="stylesheet" href="{% static '/css/client.css' %}">
    {% endblock %}

    {%block metalinks %}
    {% endblock %}

{% block titleAdmin %}Listado de Clientes{% endblock %}

    {% block search %}
        {% include "layouts/search.html" %}
    {% endblock %}

    {% block user %}
      {% include "layouts/user.html" %}
    {% endblock %}


{% block content %}
<table id="expendable-data-table" class="table display nowrap" style="width:100%">
  <thead>
    <tr>
      <th style="display: none;">ID</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Servicio</th>
      <th>Tamaño</th>
      <th>Nicho</th>
      <th>Tipo Negocio</th>
      <th>E-mail</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for customer in client_data %}
    <tr>
      <td style="display: none;">{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.phoneNumber }}</td>
      <td>{{ customer.service }}</td>
      <td>{{ customer.businessSize }}</td>
      <td>{{ customer.niche }}</td>
      <td>{{ customer.businessType }}</td>
      <td>{{ customer.email }}</td>
      <td>
        <a href="{% url 'edit_customer' customer.id %}">
            <i class="fi fi-rr-edit"></i>
        </a>
    </td>
    </tr> 
    {% endfor %}
  </tbody>
</table>

<div class="btn-view-more">
  <a href="{% url 'clients' 0 10 %}" class="button"><i class="fi fi-rr-arrow-left"></i></a>
  <a href="{% url 'clients' start|add:10 end|add:10 %}" class="button"><i class="fi fi-rr-arrow-right"></i></a>
</div>

<a  class="btn-add" href="">
  <i class="fi fi-rr-user-add"></i>
</a>

{% endblock %}
