{% extends "sysbase.html" %}

    {% block title %}Sistema de administración{% endblock %}

{% block content %}
<style>
    main{
        padding-left: 10%;
        padding-right: 5%;
    }
</style>
<body>
    <main>
        <h1>
            HOlaaaaaaaaaa
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor similique ex repudiandae laborum accusamus doloribus nostrum commodi nulla, eos explicabo ullam tenetur, quae, vel itaque repellendus obcaecati impedit amet molestiae.</p>
    </main>
</body>
{% endblock %}
