{% extends "sysbase.html" %}
{% load static %}

{% block title %}Clientes | Editar{% endblock %}

{% block titleAdmin %}Edición de Cliente{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/edit.css' %}">
{% endblock %}

{% block content %}
<form method="post" action="{% url 'update_customer' customer_id %}">
    {% csrf_token %}
    <div class="form-container">
        <div class="form-content">
            <label for="name">Nombre:</label>
            <br>
            <input type="text" name="name" value="{{ customer.name }}">
            <br><br>
            <label for="email">E-mail:</label>
            <br>
            <input type="text" name="email" value="{{ customer.email }}">
            <br><br>
            <label for="phoneNumber">Teléfono:</label>
            <br>
            <input type="text" name="phoneNumber" value="{{ customer.phoneNumber }}">
            <br><br>
            <label for="text">Sector:</label>
            <br>
            <input type="text" name="sector" value="{{ customer.sector }}">
            <br><br>
            <label for="service">Servicio:</label>
            <br>
            <input type="text" name="service" value="{{ customer.service }}">
            <br><br>
            <label for="social">Redes Sociales:</label>
            <br>
            <input type="text" name="social" value="{{ customer.socialMedia }}">
            <br><br>
            <label for="income">Ingresos:</label>
            <br>
            <input type="text" name="income" value="{{ customer.income }}">
            <br><br>
            <label for="address">Dirección:</label>
            <br>
            <input type="text" name="address" value="{{ customer.address }}">
            <br><br>
        </div>
        <div class="form-content">
            <label for="needs">Necesidades:</label>
            <br>
            <input type="text" name="needs" value="{{ customer.needs }}">
            <br><br>
            <label for="businessType">Tipo de Negocio:</label>
            <br>
            <input type="text" name="businessType" value="{{ customer.businessType }}">
            <br><br>
            <label for="niche">Nicho:</label>
            <br>
            <input type="text" name="niche" value="{{ customer.niche }}">
            <br><br>
            <label for="goals">Objetivos:</label>
            <br>
            <input type="text" name="goals" value="{{ customer.goals }}">
            <br><br>
            <label for="businessSize">Tamaño:</label>
            <br>
            <input type="text" name="businessSize" value="{{ customer.businessSize }}">
            <br><br>
            <label for="areaOfInterest">Area de interes:</label>
            <br>
            <input type="text" name="areaOfInterest" value="{{ customer.areaOfInterest }}">
            <br><br>
            <label for="budget">Presupuesto:</label>
            <br>
            <input type="text" name="budget" value="{{ customer.budget }}">
            <br><br>
            <label for="time">Antiguedad:</label>
            <br>
            <input type="text" name="time" value="{{ customer.time }}">
            <br><br>
        </div>
    </div>
    <input type="submit" value="Actualizar">
</form>
{% endblock %}