{% extends "sysbase.html" %}
{% load static %}

    {% block title %}Inbox | Administración{% endblock %}

{% block titleAdmin %}Visualización Mensajes{% endblock %}

{%block js %}
    <script src="{% static '/js/date.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container-inbox">
        <div class="card-main">
            <div class="inbox-header">
                <h3 class="inbox-title"><strong>Clientes Potenciales</strong></h3>
                <p class="date-title"></p>
            </div>
            <div class="inbox-stats">
                <div class="stats">
                    <p class="stats-number"> <strong>26</strong> </p>
                    <p class="stats-title">Convertidos</p>
                </div>
                <div class="stats">
                    <p class="stats-number"> <strong>50</strong> </p>
                    <p class="stats-title">Sin terminar</p>
                </div>
                <div class="stats">
                    <p class="stats-number"> <strong>76</strong> </p>
                    <p class="stats-title">Total mensajes</p>
                </div>
            </div>
        </div>
    
        <div class="card-customers">
            <div class="customers-header">
                <div class="customers-title"> <strong>Ultimos clientes</strong></div>
            </div>
            <table id="customers-table">
                {% for customer in last_customers %}
                    <tr>
                        <td>{{ customer }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    <button class="btn-url">
        <i class="fi fi-rr-link-alt"></i>
        <span class="title"> <strong>Generar URL Unica</strong> </span>
    </button>

    <button class="btn-add">
        <i class="fi fi-sr-globe"></i>
        <span class="title"> <strong>Contacto por Página web</strong> </span>
    </button>

    <button class="btn-phone">
        <i class="fi fi-brands-whatsapp"></i>
        <span class="title"> <strong>Contacto por Whatsapp</strong> </span>
    </button>
</div>


<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Contenido del modal flotante</p>
    </div>
</div>

<!-- Agregar este script para detectar cambios en la base de datos y actualizar la tabla -->
<script>
    // Obtener una referencia a la tabla
    var table = document.getElementById("customers-table");

    // Obtener una referencia a la base de datos
    var db = firebase.database();

    // Escuchar cambios en la colección "Customers"
    db.ref("Customers").on("value", function(snapshot) {
        // Obtener los datos de los clientes en orden inverso
        var customers = snapshot.val();
        customers = Object.values(customers).reverse();

        // Limpiar el contenido de la tabla
        table.innerHTML = "";

        // Iterar sobre los últimos 4 clientes y agregar sus nombres a la tabla
        for (var i = 0; i < 4; i++) {
            if (i >= customers.length) {
                break;
            }
            var row = table.insertRow(-1);
            var cell = row.insertCell(0);
            cell.innerHTML = customers[i].name;
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let date = new Date();
        let month = date.toLocaleString('default', { month: 'long' });
        month = month.charAt(0).toUpperCase() + month.slice(1);
        let day = date.getDate();
        document.querySelector('.date-title').innerHTML = `${month}, ${day}`;
    });
</script>

<script>
    var modal = document.getElementById("myModal");
    var btn = document.querySelector(".btn-url");
    var span = document.getElementsByClassName("close")[0];
    
    btn.onclick = function() {
        modal.style.display = "block";
    }
    
    span.onclick = function() {
        modal.style.display = "none";
    }
    
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}