{% extends "sysbase.html" %}
{% load static %}

    {% block title %}Inbox | Administración{% endblock %}

{% block titleAdmin %}Visualización Mensajes{% endblock %}

    {% block search %}
        {% include "layouts/search.html" %}
    {% endblock %}

    {% block userimg %}<div class="user-circle"></div>{% endblock %}
    {% block user %}
        {{ email }}
    {% endblock %}

{%block js %}
    <script src="{% static '/js/date.js' %}"></script>
{% endblock %}

{% block content %}
<table  id="expendable-data-table" class="table display nowrap" style="width:100%">
    <thead>
        <tr>
            <th style="display: none;">ID</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Tipo Negocio</th>
            <th>Nicho</th>
            <th>Presupuesto</th>
            <th>Tamaño</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for pre_customer in pre_customers_data %}
        <tr>
            <td style="display: none;">{{ pre_customer.id }}</td>
            <td>{{ pre_customer.nombre }}</td>
            <td>{{ pre_customer.numero }}</td>
            <td>{{ pre_customer.tipoNegocio }}</td>
            <td>{{ pre_customer.nicho }}</td>
            <td>{{ pre_customer.presupuesto }}</td>
            <td>{{ pre_customer.tamano }}</td>
            <td>
                <a href="{% url 'deletePreCustomer' pre_customer.id %}">
                    <i class="fi fi-rr-trash"></i>
                </a>
            </td>
        </tr> 
        {% endfor %}
    </tbody>
</table>

<div class="btn-view-more">
    <a href="{% url 'contactClient' 0 10 %}" class="button"><i class="fi fi-rr-arrow-left"></i></a>
    <a href="{% url 'contactClient' start|add:10 end|add:10 %}" class="button"><i class="fi fi-rr-arrow-right"></i></a>
  </div>
{% endblock %}