{% extends "sysbase.html" %}
{% load static %}

    {% block title %}Sistema de administración{% endblock %}

{% block sidebar %}
    {% include "layouts/sidebar.html" %}
{% endblock %}

{% block titleAdmin %}Página Principal {% endblock %}
{% block content %}
<div class="main-container">
    <div class="container-admin">
        <button class="btn-admin-card">
            <i class="fi fi-sr-users-alt"></i>
            <span class="title"> <strong>Clientes</strong> </span>
        </button>
        <button class="btn-admin-card">
            <i class="fi fi-sr-clock"></i>
            <span class="title"> <strong>En espera</strong> </span>
        </button>
        <button class="btn-admin-card">
            <i class="fi fi-sr-tags"></i>
            <span class="title"> <strong>Servicios</strong> </span>
        </button>
        <button class="btn-admin-card">
            <i class="fi fi-sr-comment"></i>
            <span class="title"> <strong>Opiniones</strong> </span>
        </button>
    </div>
</div>
{% endblock %}
