/* Base Fonts
********************************************************************* */
// Tipografías de la marca
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700&display=swap");

/* Base Variables
********************************************************************* */

// Path: adminsystem\static\sass\admin.scss
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Path: adminsystem\static\sass\admin.scss
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

/* Base Styles
********************************************************************* */

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: $gray-100;
    font-family: "Open Sans", sans-serif;
    height: 70px;
    margin-left: 4rem;
    padding: 0%;

    h1{
        color: $gray-900;
        font-weight: 500;
        font-size: 1.5rem;
        align-items: center;
        display: flex;
        height: 100%;

    }
}
