$clients-content-bg: #fff !default;
$clients-content-border: #e5e5e5 !default;
$clients-content-border-radius: 3px !default;
$clients-content-padding: 15px !default;

$div-color: #ffffff !default;

.Clients-content{
    background-color: $div-color;
    margin-left: 50px;
}