/* Base Fonts
********************************************************************* */
// Tipografías de la marca
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700&display=swap");

$transition: all 0.5s ease-in-out;

$blue-seleccion: #1f305e;
$purple-seleccion: #a6a6e1;
$purple-seleccion-hover: #8b8bc9;
$green-seleccion: #a6e1ac;
$green-seleccion-hover: #8bc991;
$red-seleccion: #dc3545;
$yellow-seleccion: #ffc107;
$orange-seleccion: #e1bda6;
$orange-seleccion-hover: #c99b8b;
$gray-seleccion: #ffffff;


body{
    font-family: 'Open sans', sans-serif;
}

#expendable-data-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 2px;
    border: 1px solid #dee2e6;
    border-radius: 0.1rem;
    th,
    td {
      padding: 1.8px;
      //vertical-align: top;
      align-items:center;
      border-top: 1px solid #dee2e6;
      i:hover {
        color: #325dc8;
        cursor: pointer;
      }

      a{
        margin: 0%;
        text-decoration: none;
        color: #000;
      }
    }
    th {
      text-align: left;
      font-size: 14px;
    }
    tbody tr {
      font-size: 13px;
    }
    tbody tr:hover {
      background-color: #f8f9fa;
    }
    // Agregar padding al contenedor y margin negativo al tbody
    @media only screen and (min-width: 768px) {
      padding-left: 60px;
      tbody {
        margin-left: -60px;
      }
    }
  }

a{
  display: inline-block;
  text-decoration: none;
  color: #000;

  i{
    display: inline-block;
    vertical-align: middle;
  }
}

.btn-add{
  background-color: #090909;
  color: #ffffff;
  padding: 0px 4px;
  margin-top: 10px;
  text-align: center;
  margin-left: 90px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;

  &:hover{
    background-color: #325dc8;
    color: #ffffff;
  }
}

.button{
  transition: all 0.5s ease-in-out;
  &:hover{
    color: #325dc8;
  }
}

