/* Base Fonts
********************************************************************* */
// Tipografías de la marca
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700&display=swap");

/* Base Variables
********************************************************************* */

// colores de divs

$transition: all 0.5s ease-in-out;

$blue-seleccion: #1f305e;
$purple-seleccion: #a6a6e1;
$purple-seleccion-hover: #8b8bc9;
$green-seleccion: #a6e1ac;
$green-seleccion-hover: #8bc991;
$red-seleccion: #dc3545;
$yellow-seleccion: #ffc107;
$orange-seleccion: #e1bda6;
$orange-seleccion-hover: #c99b8b;
$gray-seleccion: #ffffff;

.container {
    display: flex;
}

body{
    font-family: 'Open sans', sans-serif;
}

.container-inbox {
    display: flex;
    flex-direction: column;
}


.card-main{
    display: flex;
    float: left;
    width: 450px;
    height: 200px;
    //overflow-y: scroll;
    //overflow-x: hidden;

    background-color: $gray-seleccion;
    margin-left: 90px;
    margin-right: 100px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.026);

    .inbox-header{
        display: flex;
        position: fixed;
        width: 100%;
        height: 25px;
        //z-index: 9999;

        .inbox-title{
            display: block;
            float: left;
            margin-top: auto;
            font-size: 20px;
            font-weight: 500;
            color: $blue-seleccion;
        }

        .date-title{
            display: block;
            margin-left: 120px;
            margin-top: auto;
            float: right;
            font-size: 15px;
            font-weight: bold;
            font-weight: 500;
            color: #000;
        }
    }

    .inbox-stats{
        display: flex;
        margin-top: 60px;

        div.stats{
            margin-right: 30px;
        }

        .stats-number{
            display: block;
            margin-bottom: 5px;
            font-size: 25px;
            font-weight: 500;
            color: $blue-seleccion;
        }

        .stats-title{
            display: block;
            margin-bottom: 5px;
            font-size: 15px;
            font-weight: 500;
            color: #000;
        }
    }
}

.card-customers {
    display: flex;
    float: left;
    width: 450px;
    height: 290px;
    background-color: $gray-seleccion;
    margin-left: 90px;
    margin-right: 100px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.026);

    .customers-header {
        display: flex;
        position: fixed;
        width: 100%;
        height: 25px;

        .customers-title {
            display: block;
            float: left;
            margin-top: auto;
            font-size: 20px;
            font-weight: 500;
            color: $blue-seleccion;
        }
    }

    table {
        border-collapse: collapse;
        margin-top: 30px;
        width: 100%;
    }
    
    th, td {
        text-align: left;
        padding: 8px;
        font-weight: 600;
        border-bottom: 1px solid #ddd;
    }
    
    tr:last-child td {
        border-bottom: none;
    }
}

.btn-url {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $orange-seleccion;
    transition: $transition;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    padding: auto;

    .fi {
        margin-top: 17px;
    }
    
    i {
        margin: auto;
    }

    .title{
        font-size: 16px;
        padding-right: 20px;
        color: #131313;
    }
}

.btn-url:hover {
    background-color: $orange-seleccion-hover;
}

.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple-seleccion;
    transition: $transition;
    border-radius: 20px;
    margin-left: 20px;
    width: 200px;
    height: 60px;
    padding: auto;

    .fi {
        margin-top: 17px;
    }
    
    i {
        margin: auto;
    }

    .title{
        font-size: 16px;
        padding-right: 30px;
        color: #131313;
    }
}

.btn-add:hover {
    background-color: $purple-seleccion-hover;
}

.btn-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green-seleccion;
    transition: $transition;
    border-radius: 20px;
    margin-left: 20px;
    width: 200px;
    height: 60px;
    padding: auto;

    .fi {
        margin-top: 17px;
    }
    
    i {
        margin: auto;
    }

    .title{
        font-size: 16px;
        padding-right: 30px;
        color: #131313;
    }

}

.btn-phone:hover {
    background-color: $green-seleccion-hover;
}


// styles for the modal
div.modal{
    border-radius: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
        
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
        
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

// styles for the table

.tables-container{
    display:flex;
    float: right;
    margin-top: 90px;
}

#expendable-data-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.1rem;
    th,
    td {
      padding: 1rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
    th {
      text-align: left;
      font-size: 15px;
    }
    tbody tr {
      font-size: 13px;
    }
    tbody tr:hover {
      background-color: #f8f9fa;
    }
  }