/*Tipografía de la marca*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700&display=swap");
/*Tipografía secundaria*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500&display=swap");

/*Navigation classes*/
nav {
    width: 100%;
    height: 70px;
    cursor: pointer;
    z-index: 10;
    padding: 20px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;
}

#navigation {
    font-family: "Be Vietnam Pro", sans-serif;
}

#navigation li {
    display: inline-block;
    transition: .7s;
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

nav ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    border-radius: 5px;
    position: absolute;
    background: #ffffff;
    transition: width 0.7s ease 0s, left 0.7s ease 0s;
    width: 0;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-link{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 60px; /*margen entre palabras*/
    font-weight: 600;
}

/*navbar al hacer scroll up*/

nav.down {
    background-color:#090909;
    color:  #fff;
}

nav.down .navbar-list li a {
    color: #ffffff;
}

nav.down ul li a:after {
    background: #090909;
}

/*Logo de navbar*/

.logo a {
    text-decoration: none;
    margin-bottom: 60px;
}

.logo a h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Alegreya Sans SC", sans-serif;
}

nav.down .logo h1 {
    color: #ffffff;
}

/*responsive navbar*/

#nav-responsive{
    font-family: "Be Vietnam Pro", sans-serif;
}



aside {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background-color: #090909;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease;
	z-index: 2;
}
.open {
	opacity: 1;
	visibility: visible;
}

.navbar-responsive {
    display: block;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.navbar-break {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

li .navbar-break{
    font-size: 50px;
    margin-top: 20px;
    font-weight: 600;
}

.navbar-break:hover{
    color: #c91515;
}

/*TOGGLE Y NAVBAR*/


.close {
	position: fixed;
	top: 40px;
	right: 60px;
	z-index: 3;
	cursor: pointer;
	font-family: sans-serif;
}

.close span, .close span:before,
  .close span:after {
    position: absolute;
    display: block;
    content: '';
  }

.outer-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 65px;
    height: 65px;
    cursor: pointer;
}

div.toggle-overlay{
    margin: 6px;
}

.toggle-overlay{
    position: absolute;
    right: 10px;
    top: 0;
    width: 65px;
    height: 65px;
    cursor: pointer;
    background:transparent;
    border:none;
    color:#fff;
    z-index:9999999;
}
.bar, .bar:after, .bar:before{
    width:35px;
    height:2px;
    margin-bottom:5px;
    margin-top:5px;
    color:#fff;
}
.bar:before {
content: "";
position: absolute;
left: 0;
bottom: 10px;
background: rgba(255, 255, 255, 1);
transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
content: "";
position: absolute;
left: 0;
top: 10px;
background: rgba(255, 255, 255, 1);
transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar {
position: relative;
transform: translateY(20px);
background: rgba(255, 255, 255, 1);
transition: all 0ms 300ms;
}

.bar.animate:after {
top: 0;
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
bottom: -10px;
-moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate{
 background: rgba(255, 255, 255, 0);  
}
/*
@media (max-width: 1920px) {
    div.toggle-overlay {
        display: none;
    }
    .navbar-responsive{
        display: none;
    }
}
*/
@media (min-width: 901px) {
    div.toggle-overlay {
        display: none;
    }
    .navbar-responsive{
        display: none;
    }
}
@media (max-width: 900px) {
    nav.navbar{
        display: none;
    }
    .navbar-list {
        display: none;
    }
    div.navbar-responsive{
        display: block;
    }
    div.toggle-overlay {
        display: block;
    }

    nav ul li a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 1.5px;
        left: 50%;
        border-radius: 5px;
        position: absolute;
        background: #c91515;
        transition: width 0.7s ease 0s, left 0.7s ease 0s;
        width: 0;
    }
}