{% extends 'auth_base.html' %}
{% load static %}
    {% block title %}Login | JEEIMKG{% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
        <!--Agrega mi archivo js auth_login--> 
        <script src="{% static '/js/auth_login.js' %}"></script>
        <script src="{% static '/js/acces_auth.js' %}"></script>
        <!-- Firebase App (el primer script debe ir siempre primero) -->
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js"></script>
        <!-- Firebase Authentication -->
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-auth.js"></script>
        <!-- Firebase Firestore -->
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js"></script>
    {% endblock %}

    {% block content %}
    <form method="post" id="login-form">
      {% csrf_token %}
      <div class="login-box">
        <h2>jeeimkg sysadmin</h2>
        <div class="user-box">
          <input type="email" name="email" id="email" required>
          <label for="email">email:</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" id="password" required>
          <label for="password">password:</label>
        </div>
        <input type="hidden" name="firebase_token" id="firebase_token" value="">
        <button type="submit">LOGIN</button>
      </div>
    </form>
  {% endblock %}