{% extends 'auth_base.html' %}
{% load static %}
    {% block title %}Login | JEEIMKG{% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
        <!-- Firebase App (el primer script debe ir siempre primero) -->
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js"></script>
        <!-- Firebase Authentication -->
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-auth.js"></script>
        <!-- Firebase Firestore -->
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js"></script>
    {% endblock %}

{% block content %}
  <form method="POST" id="login-form" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="login-box">
      <h2>jeeimkg sysadmin</h2>
      <div class="user-box">
        <input type="email" name="email" required>
        <label for="email">Email:</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required>
        <label for="password">Password:</label>
      </div>
      <input type="hidden" name="custom_token" id="custom_token" value="{{ custom_token }}">
      <button type="submit">LOGIN</button>
    </div>
  </form>    
{% endblock %}