{% extends 'auth_base.html' %}
{% load static %}

    {% block title %}Signup | JEEIMKG{% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/signup.css' %}">
        <!-- Firebase App (el primer script debe ir siempre primero) -->
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js"></script>
        <!-- Firebase Authentication -->
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-auth.js"></script>
        <!-- Firebase Firestore -->
        <script src="https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js"></script>
    {% endblock %}

{% block content %}
    <form method="post" id="login-form">
        {% csrf_token %}
        <div class="login-box">
            <h2>jeeimkg create user</h2>
            {{ form.as_p }}
            <button type="submit">sign up</button>
        </div>
    </form>
{% endblock %}